@page "/buildinglist"

@using ChintaiApp.Shared.Models
@using AntDesign.TableModels
@using System.ComponentModel
@inject HttpClient Http

<PageTitle>建物 一覧</PageTitle>

<h1>建物</h1>

@if (data == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<Table DataSource="@buildings" TItem="Building" OnExpand="OnRowExpand">
		<RowTemplate>
			<Column TData="DateTime" DataIndex="CreatedAt" />
			<ActionColumn Title="Action">
				<a>Publish</a>
			</ActionColumn>
		</RowTemplate>
		<ExpandTemplate Context="rowData">
			<Table DataSource="rowData.Data.NestedData" Loading="rowData.Data.NestedData==null" HidePagination>
				<Column TData="DateTime" DataIndex="CreatedDate" />
				<Column TData="string" Title="Status">
					<span>
						<Badge Status="success" />
						Finished
					</span>
				</Column>
				<ActionColumn Title="Action">
					<Space Size="@("middle")">
						<SpaceItem><a>Pause</a></SpaceItem>
						<SpaceItem><a>Stop</a></SpaceItem>
						<SpaceItem>
							<Dropdown Overlay="menu">
								<a>More <Icon Type="down" /></a>
							</Dropdown>
						</SpaceItem>
					</Space>
				</ActionColumn>
			</Table>
		</ExpandTemplate>
	</Table>

}

@code {
	RenderFragment menu =
	@<Menu>
		<MenuItem>Action 1</MenuItem>
		<MenuItem>Action 2</MenuItem>
	</Menu>;

	//Data[] data;

	private List<Building>? buildings;
    private Building? Building;
	private List<Room>? rooms;
    private Room? room;

    protected override async Task OnInitializedAsync()
    {
        buildings = await Http.GetFromJsonAsync<List<Building>>("api/buildings");
    }


	async Task OnRowExpand(RowData<Building> rowData)
	{
		if (rowData.Room != null)
		{
			return;
		}

		await Task.Delay(1000);
		rowData.Room = = await Http.GetFromJsonAsync<User>($"api/users/{UserId}");


		StateHasChanged();
	}

	public class Data
	{
		public string Name { get; set; }
		public string Platform { get; set; }
		public string Version { get; set; }
		[DisplayName("Upgraded")]
		public int UpgradeNum { get; set; }
		public string Creator { get; set; }
		public DateTime CreatedAt { get; set; }

		public NestedData[] NestedData { get; set; }
	}

	public class NestedData
	{
		public int Key { get; set; }
		public DateTime Date { get; set; }
		public string Name { get; set; }
		[DisplayName("Upgrade Status")]
		public string UpgradeNum { get; set; }
	}
}
